@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwind.css';
@import '../fonts/bsuite/css/animation.css';
@import '../fonts/bsuite/css/bsuite-embedded.css';

/* FONTS */
@import '../styles/fonts/saira.css';
@import '../styles/fonts/exo.css';

/* THEMES COLOR */

*,
html {
  outline: 'none' !important;
}

html,
body {
  font-family: 'sairalight' -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

*::after,
*::before {
  border-color: unset;
}

body {
  overflow-y: hidden;
  background: #fff;
}

.--window-topbar-dragable {
  -webkit-app-region: drag;
}

/* Scrollbar STYLE*/
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}